body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgb(226, 223, 223);
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  overflow-x: hidden;
  width:100%;
  margin:0;
  padding:0;
}
.color{
  width:15px;
  height:5px;
  border: 1px solid black;
}
.color-box{
  display: flex;
  gap:10px;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
}
.col{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
}
.homeslide{
  width:100%;
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(243, 243, 243);
  position: relative;
}
.homeslide img{
  width:60%;
  height:60%;
}
.homeslide div{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.253);
  color:white;
  padding-left: 50px;
  box-sizing: border-box;
}
@media screen and (max-width:827px){
  .homeslide{
    height:300px;
  }
}
@media screen and (max-width:645px){
  .homeslide{
    height:250px;
  }
}
@media screen and (max-width:495px){
  .homeslide{
    height:200px;
  }
  .homeslide div{
    font-size: 30px;
    padding-left: 20px;
  }
}